# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# file: ~/.gitignore_global
.DS_Store
.idea

# Pyre type checker
.pyre/
objrec/.idea
objrec/data/data/darknet_weights/yolov3.ckpt.data-00000-of-00001
objrec/data/data/darknet_weights/yolov3.ckpt.meta
objrec/data/data/darknet_weights1
chatbot/data/774M/model.ckpt.data-00000-of-00001


